.home{
    position: relative;
    text-align: center;
    color: white;
    font-size: x-large;
}

#rankPie {
    box-shadow: 20px 20px grey;
}

/* REVISAR CON SALVADOR */
.lolliChart {
    box-shadow: 20px 20px grey;
}

.d3-tip {
    padding: 6px;
    font-size: 12px;
    line-height: 1;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}